/* Ctrl+K /*
/* <i class="fas fa-5x fa-search"></i>  
font-family: 'Roboto', sans-serif;

rem = html{font-size:10px;}  div p{ font-size:2rem;}  20px
em  = body{font-size:10px;}  div p{ font-size:2em;}   20px
*/

/*common config Group Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.5px;
    /*  telefon için küçük ekran*/
    /*rem */
}

body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    background-color: #333;
    text-align: center;
    line-height: 1.7;
    color: #fff;
    font-size: 1.7rem;
}

a {
    text-decoration: none;

}

p {
    color: white";

}

img {
    height: auto;
    width: 100%;
}

main #division-2-list ul {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.upperCase {
    text-transform: uppercase;
}

.lowerCase {
    text-transform: lowercase;
}

.col20 {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.col25 {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.col50 {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.col75 {
    float: left;
    width: 75%;
    box-sizing: border-box;
}

.col100 {
    float: left;
    width: 100%;
    box-sizing: border-box;
}



.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*++++++++++++++++++++ header ++++++++++++++++++++++++ */
/*container++++++++++*/
.container {
    width: 120rem;
    margin: 0 auto;
    padding-left: .6rem;
    padding-right: .6rem;
}



/* navbar ++++++++++++  */
/*
 #007BFF 
<i class="fas fa-house-user"></i> Home
<i class="fas fa-user-check"></i>  Career
<i class="fas fa-newspaper"></i> News
<i class="far fa-id-card"></i> Contact
*/


nav {
    background-color: #007BFF;
    color: #fff;
    padding: 3rem 0 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 10%;
}

.btk-akademi {
    color: #fff;
    font-size: 3.4re;

}

#menu {
    float: right;

}

#menu li {
    display: inline-block;
    margin: 0 12rem 12rem 0;
}

#menu i {
    margin-right: .5rem;
}

#menu i:hover {
    color: peru;
}

#menu a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: all .3s;
}

#menu a:hover {
    background-color: #fff;
    color: #007BFF;
}

#logo {
    float: left;
    text-transform: uppercase;
}


#logo-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50% 50%;
    transition: all .5s;

}

#logo-image:hover {
    opacity: .8;
    box-shadow: 1px 1px 1px 1px red;
}

/* header +++++++++++++++++*/
header {
    height: 80rem;
    /* background-color: blueviolet; */
    position: relative;
}

header .image-header {
    height: 80rem;
    width: 100%;
    background-image: url(image/image-header-2.jpg);
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 3px 4px white;
}

header h1 {
    padding: 24rem 12rem 2rem 12rem;
    text-transform: uppercase;
}

p {
    padding: 3rem;
    font-size: 1.9rem;
}

.btn-header {
    color: #fff;
    background-color: #007bff;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s;
    margin: .6rem 0;
    padding: 1.7rem 3.4rem;
    border: 1ps solid rgb(255, 212, 59);
    white-space: nowrap;
    box-shadow: 1px 2px 3px 2px black;

}

.btn-header:hover {
    background-color: #fff;
    color: #007bff;
    box-shadow: 1px 2px 3px 6px black;
    
}

/* section-1 +++++++++++++++++++++ */

#division-1-main {
    background-color: black;
    color: white;
    padding: 4.4rem 0;
}

/* section-2 list +++++++++++++++ */
#division-2-list {
    padding: 2.3rem;
}

#area-div {
    padding: 1.4rem;
}

#division-2-list {
    background-color: #fff;
    color: #234;
}

.area img {
    border-radius: 1rem;
    opacity: 0.9;
}

.area .area-div h3 {
    text-transform: uppercase;
    font-weight: bold;
}

/* section-3 */
#division-3-career {
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
}

#left-main {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: tomato;
}

#right-main {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: orangered;
}

#right-main ul {
    list-style-type: none;
}


/* top menü */


#bottom a {
    position: fixed;
    background-color: #007bff;
    color: white;
    border: 1px solid red;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 8px;
    transition: all .4s;
    border-radius: 4px 4px 0 0;
    transition: all .2s ease-in-out 0s;
    opacity: .9;
    text-align: center;

}

#bottom a:hover {
    background-color: #007bff;
    color: red;
    box-shadow: 1px 2px 3px 2px black;
    border-radius: 3rem;

}

/* about-us  ++++++++*/
#division-contact {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    width: 100%;
    min-height: 40rem;
}



/* contact +++++++*/
#form-email {
    width: 100%;
    /* height: 25rem; */
    background-color: #f2efef
}

#form-email h1,
p {
    color: black;
    margin-top: 2rem;
    padding-top: 3rem;
}

#form-group-all {
    width: 100%;
    height: auto;
}

.form-control {
    width: 90%;
    height: 20%;
    padding: 1rem;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    /* w+p+b    */
    border-radius: .5rem;
}

.form-control:focus {
    border-color: #007bff;
    background-color: cornflowerblue;
}

.form-group {
    margin-bottom: .5rem;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border: 1px solid red;
    border-radius: .7rem;
    padding: .9rem .18rem;
    width: 10%;
}


/*  footer +++++++++++ */
footer {
    padding: 6rem 6rem 12rem 6rem;
}

footer a {
    color: #ff4500
}

/* responsive design +++++++++++++++  */

/* card          id=division-2-list      */
/* hakkımızda    id=division-contact     */
/*    

0   <=x<= 480
481 <=x<= 768
769 <=x<= 1279
+1280
*/

@media screen and (min-width:1px) {
    #menu {
        display: none;
    }
}

/* orta ekran */
@media screen and (min-width:769px) {
    #division-2-list li {
        width: 47%;
        margin: 1%;
        display: inline-block;
    }

    html {
        font-size: 8px;
    }



}



/* büyük ekran */
@media screen and (min-width:900px) {
    #division-2-list li {
        width: 31%;
        margin: 1%;
    }

    html {
        font-size: 9px;
    }

    #menu {
        display: inline-block;
    }

    #bar-icon {
        display: none;
    }

}



/* en büyük ekran */
@media screen and (min-width:1200px) {
    #division-2-list li {
        width: 22%;
        margin: 1%;
        display: inline-block;
    }

    html {
        font-size: 12px;
    }
}


/*
 dinamik:
slider
top
menu - navbar
div sağdan sola gelmesi
*/